* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d7d7d7;
}

.container {
    background-color: #fff;
    padding: 3rem;
    padding-bottom: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 1.75rem;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: .5rem;
    outline: none;
}

select {
    cursor: pointer;
}

input:focus {
    outline: 2px solid #d7d7d7;
}

.amount {
    margin: 1rem 0;
}

form label {
    font-size: 1.2rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding: 0 0 0 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.dropdown i {
    font-size: 1.5rem;
    cursor: pointer;
}

.select-container {
    display: flex;
    flex-direction: column;
}

.select-container img {
    max-width: 2.5rem;
}

#msg {
    display: flex;
    justify-self: center;
    font-size: 1.3rem;
    margin: 1rem 0;
    background-color: #000000ab;
    color: #fff;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-weight: 600;
}

button {
    height: 3rem;
    background-color: #d7d7d7;
    font-size: 1.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #333131e3;
    color: #fff;
    /* scale: 1.05; */
}
